# Website Classifier :

    The aim of this project is to build a classifier for the websites based on the cleaned text of a given website. The classifier should be able to classify the websites to categories like Travel, Food, Games, etc.

#### Importing needed libraries:

In [24]:
import pandas as pd
import numpy as np 
import keras

### Importing the dataset and exploring its parameters :

In [25]:
original_df = pd.read_csv("./Dataset/website_classification.csv")

In [26]:
original_df.head()

,Unnamed: 0,website_url,cleaned_website_text,Category
0,0,https://www.booking.com/index.html?aid=1743217,official site good hotel accommodation big sav...,Travel
1,1,https://travelsites.com/expedia/,expedia hotel book sites like use vacation wor...,Travel
2,2,https://travelsites.com/tripadvisor/,tripadvisor hotel book sites like previously d...,Travel
3,3,https://www.momondo.in/?ispredir=true,cheap flights search compare flights momondo f...,Travel
4,4,https://www.ebookers.com/?AFFCID=EBOOKERS-UK.n...,bot create free account create free account si...,Travel

In [27]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1408 entries, 0 to 1407
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            1408 non-null   int64
 1   website_url           1408 non-null   object
 2   cleaned_website_text  1408 non-null   object
 3   Category              1408 non-null   object
dtypes: int64(1), object(3)
memory usage: 44.1+ KB

In [28]:
categories = original_df["Category"].unique()

In [29]:
for i in range(len(categories)):
    print(f"{i}) {categories[i]}")
print("Total number of categories :",len(categories))

0) Travel
1) Social Networking and Messaging
2) News
3) Streaming Services
4) Sports
5) Photography
6) Law and Government
7) Health and Fitness
8) Games
9) E-Commerce
10) Forums
11) Food
12) Education
13) Computers and Technology
14) Business/Corporate
15) Adult
Total number of categories : 16

### Preparing the Data :

In [30]:
categories_dict = {}
for i in range(len(categories)):
    categories_dict[categories[i]] = i 
categories_dict

{'Travel': 0,
 'Social Networking and Messaging': 1,
 'News': 2,
 'Streaming Services': 3,
 'Sports': 4,
 'Photography': 5,
 'Law and Government': 6,
 'Health and Fitness': 7,
 'Games': 8,
 'E-Commerce': 9,
 'Forums': 10,
 'Food': 11,
 'Education': 12,
 'Computers and Technology': 13,
 'Business/Corporate': 14,
 'Adult': 15}

In [31]:
df = original_df.copy()
df["Category"] = df["Category"].map(categories_dict)

In [43]:
df[100:115]

,Unnamed: 0,website_url,cleaned_website_text,Category
100,100,https://www.tridenthotels.com/,star hotels india luxury hotels india trident ...,0
101,101,https://www.tropicanaalibaug.com/,tropicana resort spa resorts alibaug resorts w...,0
102,102,https://www.anantara.com/en/riverside-bangkok,bangkok resort anantara riverside bangkok reso...,0
103,103,http://sunbeachresortgorai.com/,sun beach resort ponda wadi gorai beach boriva...,0
104,104,https://waterfrontshaw.com/,lavasa hotels waterfront shaw waterfront shaw ...,0
105,105,https://www.alliancehospitality.in/moksh_farms...,moksh farms alliance hospitality services moks...,0
106,106,https://www.silenthillsresort.com/,resort near mumbai water resorts mumbai picnic...,0
107,107,https://www.fubo.tv/lp/StreamTV/?irad=343747&i...,stream live tv sports fubotv free trial sport ...,3
108,108,https://www.hulu.com/,stream tv movie live online hulu watch tv show...,3
109,109,https://tv.youtube.com/,youtube tv watch dvr live sports shows news st...,3
110,110,https://www.attwatchtv.com/,watchtv stream channel live tv want watchtv ex...,3
111,111,https://www.klowdtv.com/,live tv streaming klowdtv klowdtv provide live...,3
112,112,https://corporate.pluto.tv/,pluto tv watch free tv movies online apps plut...,3
113,113,https://www.xumo.tv/,xumo free movie xumo ultimate destination stre...,3
114,114,https://www.zee5.com/,watch tv serial original show movies news live...,3

672

### Building the classifier :

In [ ]:
class myCallback(keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs={}):
        if logs.get("accuracy") is not None and logs.get("accuracy")>0.99:
            print(f"\nReached accurage of {logs.get('accuracy')*100}% so terminating now..")
            self.model.stop_training = True

In [ ]:
def create_model():
    model = keras.Sequential()
    
    model.add()
    model.add()
    model.add()

    return model