# Website Classifier :

    The aim of this project is to build a classifier for the websites based on the cleaned text of a given website. The classifier should be able to classify the websites to categories like Travel, Food, Games, etc.

#### Importing needed libraries:

In [24]:
import pandas as pd
import numpy as np 
import keras

### Importing the dataset and exploring its parameters :

In [25]:
original_df = pd.read_csv("./Dataset/website_classification.csv")

In [26]:
original_df.head()

,Unnamed: 0,website_url,cleaned_website_text,Category
0,0,https://www.booking.com/index.html?aid=1743217,official site good hotel accommodation big sav...,Travel
1,1,https://travelsites.com/expedia/,expedia hotel book sites like use vacation wor...,Travel
2,2,https://travelsites.com/tripadvisor/,tripadvisor hotel book sites like previously d...,Travel
3,3,https://www.momondo.in/?ispredir=true,cheap flights search compare flights momondo f...,Travel
4,4,https://www.ebookers.com/?AFFCID=EBOOKERS-UK.n...,bot create free account create free account si...,Travel

In [27]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1408 entries, 0 to 1407
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            1408 non-null   int64
 1   website_url           1408 non-null   object
 2   cleaned_website_text  1408 non-null   object
 3   Category              1408 non-null   object
dtypes: int64(1), object(3)
memory usage: 44.1+ KB

In [28]:
categories = original_df["Category"].unique()

In [29]:
for i in range(len(categories)):
    print(f"{i}) {categories[i]}")
print("Total number of categories :",len(categories))

0) Travel
1) Social Networking and Messaging
2) News
3) Streaming Services
4) Sports
5) Photography
6) Law and Government
7) Health and Fitness
8) Games
9) E-Commerce
10) Forums
11) Food
12) Education
13) Computers and Technology
14) Business/Corporate
15) Adult
Total number of categories : 16

### Preparing the Data :

In [30]:
categories_dict = {}
for i in range(len(categories)):
    categories_dict[categories[i]] = i 
categories_dict

{'Travel': 0,
 'Social Networking and Messaging': 1,
 'News': 2,
 'Streaming Services': 3,
 'Sports': 4,
 'Photography': 5,
 'Law and Government': 6,
 'Health and Fitness': 7,
 'Games': 8,
 'E-Commerce': 9,
 'Forums': 10,
 'Food': 11,
 'Education': 12,
 'Computers and Technology': 13,
 'Business/Corporate': 14,
 'Adult': 15}

In [31]:
df = original_df.copy()
df["Category"] = df["Category"].map(categories_dict)

In [39]:
df["Category"].tail(50)

1358    14
1359    14
1360    14
1361    14
1362    14
1363    14
1364    14
1365    14
1366    14
1367    14
1368    14
1369    14
1370    14
1371    14
1372    14
1373    14
1374    14
1375    14
1376    14
1377    14
1378    14
1379    14
1380    14
1381    14
1382    14
1383    14
1384    14
1385    14
1386    14
1387    14
1388    14
1389    14
1390    14
1391    14
1392    15
1393    15
1394    15
1395    15
1396    15
1397    15
1398    15
1399    15
1400    15
1401    15
1402    15
1403    15
1404    15
1405    15
1406    15
1407    15
Name: Category, dtype: int64

### Building the classifier :